/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background color and text color */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
}

/* Style header */
header {
    background-color: #80DEEA;
    color: #455A64;
    padding: 20px 0;
    text-align: center;
}

/* Style navigation */
nav ul {
    list-style: none;
    display: flex;
    background-color: #455A64;
    padding: 10px;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    color: #fff;
    background-color: #444;
}

/* Style main content */
main {
    padding: 30px;
}

.section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 2;
    text-shadow: -5px 0px 25px #00C3FF;
}

/* Style footer */
footer {
    text-align: center;
    padding: 5px 0;
    background-color: #455A64;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* styles applied to all views */
p {
    font-size: 12px;
  }
  
  /* styles applied to viewports
     with a width between 600px and 900px */
  @media (min-width: 600px) and (max-width: 900px) {
    p {
      font-size: 18px;
    }
  }