/* General Styles */
:root > * {
  --md-typeset-a-color: #4051b5;
  --md-footer-fg-color: hsla(0, 0%, 100%, 1);
  --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.97);
  --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.633);
  --md-footer-bg-color: #4051b5;
  --md-footer-bg-color--dark: #4051b5;
}

html {
  font-size: 155% !important;
  padding-left: 0;
  margin-left: 0;
}
.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 5px;
}
